<% include ../partials/header %>

<table class="table">
    <thead>
        <tr>
            <th>code</th>
            <th>title</th>
            <th>credits</th>
            <th>sections</th>
        </tr>
    </thead>
    <tbody>
        <% subjects.forEach(function(subject) { %>
        <tr>
            <td scope="row"><%= subject.code %></td>
            <td><%= subject.title %></td>
            <td><%= subject.credits %></td>
            <td><%= subject.sections %></td>
        </tr>
        <% }); %> 
    </tbody>
</table>




<% include ../partials/footer %>